h2, p, h1, a {
  color: #d5dadd;
  font-family: 'Montserrat', sans-serif; }

a {
  text-decoration: none; }

.content {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin: 0;
}
  .nav-wrapper {
    background-color: rgba(0, 0, 0, 0.5)
  }
  #menu li {
    display: inline-block;
    margin: 10px 5px;
  }
    #menu li a {
      padding: 9px 18px;
      display: block;
      font-weight: 900;
      color: #aab4bb;
    }
    #menu li.active a{
      color: #e3e6e8;
      font-weight: 900;
    }

                                    /**********/
                                    /* PAGE 0 */
                                    /**********/

#a0 {
  background: url(../images/california_joshua_tree_min3.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover; }
  #a0 #p1-name {
    width: 100%;
    top: 25%;
    position: relative;
    margin: 0px; }
    #a0 #p1-name h1 {
      margin: inherit;
      font-size: 60px;
      color: #c9d6de;
      width: 100%;
      text-align: center;
      text-shadow: 1px 1px 7px black;
      letter-spacing: 0.3em;
      font-weight: bold; }
    #a0 #p1-name p {
      margin: inherit;
      position: relative;
      font-size: 26px;
      font-weight: bold;
      color: #c9d6de;
      top: 10px;
      text-align: center;
      text-shadow: 1px 1px 7px black; }


                                    /**********/
                                    /* PAGE 1 */
                                    /**********/

#a1 .content {
  background: url(../images/ironman_stark.jpg);
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
  #a1 h2 {
    top: 5%; }
  #a1 #about-blurbs {
    font-size: 18px;
    position: absolute;
    top: 20%;
    left: 55%;
    width: 40%;
    font-family: 'Montserrat', sans-serif; }
  #a1 #about-not-me {
    font-size: 30px;
    -webkit-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
            transform: rotate(-40deg);
    position: absolute;
    top: 23%;
    left: 10%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; }


                                    /**********/
                                    /* PAGE 2 */
                                    /**********/

#a2 {
  background: #274F7D; }
  #a2 h2 {
    top: 5%; }

  .slide {
    top: 15%;
  }
  .slide-content {
    padding-top: 4%;
    margin-left: 15%;
  }
    .slide-content img {
      display: block;
      float: left;
      width: 45%;
      background-color: #fff;
      -webkit-box-shadow: 3px 3px 10px -2px rgba(0, 0, 0, 0.71);
         -moz-box-shadow: 3px 3px 10px -2px rgba(0, 0, 0, 0.71);
              box-shadow: 3px 3px 10px -2px rgba(0, 0, 0, 0.71);
    }
    .slide-content .slide-text {
      float: left;
      width: 30%;
      padding-left: 5%;
      font-size: 24px;
    }
      .slide-text .header {
        font-size: 20px;
      }
      .slide-text .project-description {
        margin-top: 100px;
      }


                                    /**********/
                                    /* PAGE 3 */
                                    /**********/

#a3 {
  background: #3B3B3B; }
  #a3 h2 {
    color: #D8D8D8;
    top: 5%;
    text-shadow: 1px 1px 1px black; }
  #a3 #contact-box {
    position: absolute;
    top: 27%;
    background: #606060;
    padding: 10px 40px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.2);
    font-size: 24px;
    -webkit-border-radius: 7px;
       -moz-border-radius: 7px;
            border-radius: 7px;
    -webkit-box-shadow: 3px 3px 10px -2px rgba(0, 0, 0, 0.71);
       -moz-box-shadow: 3px 3px 10px -2px rgba(0, 0, 0, 0.71);
            box-shadow: 3px 3px 10px -2px rgba(0, 0, 0, 0.71);
  }
    @media (min-width: 1200px) {
      #a3 #contact-box {
        font-size: 24px;
        width: 34%;
        left: 8%; } }
    @media (max-width: 1200px) {
      #a3 #contact-box {
        font-size: 22px;
        width: 40%;
        left: 5%; } }
    @media (max-width: 992px) {
      #a3 #contact-box {
        font-size: 18px;
        width: 40%;
        left: 5%;
        padding: 10px 30px; } }
    @media (max-width: 768px) {
      #a3 #contact-box {
        font-size: 12px;
        padding: 10px 20px; } }
  #a3 #contact-links {
    position: absolute;
    top: 55%;
    width: 40%; }
    @media (min-width: 1200px) {
      #a3 #contact-links {
        left: 12%; } }
    @media (max-width: 1200px) {
      #a3 #contact-links {
        left: 10%; } }
    @media (max-width: 992px) {
      #a3 #contact-links {
        left: 8%;
        top: 55%; } }
    @media (max-width: 768px) {
      #a3 #contact-links {
        left: 8%;
        top: 50%; } }
    #a3 #contact-links img {
      width: 35%;
      padding: 5%;
      max-width: 110px; }
    #a3 #contact-links #github-contact img:hover {
      background: #888888;
      padding: 0%;
      margin: 5%;
      -webkit-border-radius: 9999px;
         -moz-border-radius: 9999px;
              border-radius: 9999px; }
    #a3 #contact-links #linkedin-contact img:hover {
      background: #888888;
      padding: 0%;
      margin: 5%;
      -webkit-border-radius: 10px;
         -moz-border-radius: 10px;
              border-radius: 10px; }
  #a3 .fluid-wrapper {
    position: absolute;
    top: 20%;
    left: 50%;
    height: 0; }
    #a3 .fluid-wrapper iframe {
      position: absolute;
      border: none;
      -webkit-box-shadow: 3px 3px 10px -2px rgba(0, 0, 0, 0.71);
         -moz-box-shadow: 3px 3px 10px -2px rgba(0, 0, 0, 0.71);
              box-shadow: 3px 3px 10px -2px rgba(0, 0, 0, 0.71);
    }
